<img class="burger" src="/assets/img/giphy-burger.gif" alt="burger">

<br>
<br>

<h1>BuRgErsSsSsS</h1>


<ul>
  {{#each burger_name}}

  {{/each}}
</ul>

<ul>
  {{#each devoured}}

  {{/each}}
</ul>

<h2>Add BuRgErsSsSsS</h2>
<form class="create-form">

  <div class="form-group">
    <label for="burg"></label>
    <input type="text" id="burg" name="name">
  </div>

  <button type="submit">Add BuRgErsSsSsS</button>
</form>


{{name}}
<button class="devoured-burger" data-id="{{this.id}}">DELETE!</button>