ul {
    padding: 5px;
    margin: 5px;
    background: #6754aa;
    text-align: center;
}
  
.label {
    font-weight: bold;
}
  
.create-form {
    padding: 5px;
    margin: 5px;
    background: rgb(79, 204, 127);
}
  
.form-group {
    margin-bottom: 5px;
}

.container {
    position: relative !important;
    margin: 0 auto !important;
    width: 960px !important;
    font-size: 15px;
    border-radius: 20px;
    padding: 20px;
    background-color: #ffffff;
    text-align: justify;
}

#burg {
        margin: 0 auto; 
        width:250px;
        margin-left: 350px;
}

[type=submit] {
    margin: 0 auto; 
    width:250px;
    margin-left: 350px;
}

.devoured-burger{
    margin: 0 auto; 
    width:250px;
    margin-left: 350px;
}

h1, h2 {
    text-align: center;
}

body {
    margin: 80px;
    background-color: rgb(228, 157, 116);
}

img {
    max-width: 200px;
    margin: 0 auto; 
    margin-left: 350px;
  }